# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# dotenv
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage/
__tests__/output/
jest.config.js
